{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <div id="how-to-learn-intro-text" class="container-fluid">
        <div class="row row-eq-height">
            <div class="col-sm-12">
                <h2>Hoe kun je Chinees leren?</h2><br>
                <p>
                    Mandarijn Chinees leren <b>kost veel tijd</b>. Het is een <b>pittige taal</b>, waarvoor je ongeveer 4x zoveel tijd
                    moet investeren in vergelijking met een taal zoals Frans. Maar Chinees leren is <b>niet onmogelijk</b>.
                    Sterker nog, zodra je de uitspraak goed onder de knie hebt en een redelijk aantal woordjes weet (1000+),
                    dan wordt Chinees <b>aanzienlijk makkelijker</b>. En ook leuker. De zinnen klinken al snel vertrouwd door de simpele
                    grammatica. Nieuwe woordjes leren wordt ook <b>leuker naarmate je een goede basis hebt</b>. Dan kun je letterlijk
                    de betekenis raden van nieuwe woordjes aan de hand van de individuele karakters die je al geleerd hebt.
                    <br><br>
                    Maar hoe begin je met leren?
                </p>
            </div>
        </div>
    </div>

    <div id="how-to-learn-uitspraak" class="container-fluid">
        <div class="row row-eq-height">
            <div class="col-md-4 hidden-sm hidden-xs text-center center-icon">
                <i class="fa fa-comments-o fa-5x" aria-hidden="true"></i>
            </div>

            <div class="col-md-8 col-sm-12">
                <h3>De uitspraak</h3><br>
                <p>
                    Wanneer je begint met leren is het verstandig om de uitspraak goed te beheersen.
                    Lessen zijn hierbij nuttig, waarbij groepslessen in mijn opinie beter zijn dan privelessen.
                    Je blijft enthousiaster door je mede studenten,
                    leert van hun fouten en er wordt van je verwacht <b>allerlei</b> woordjes te leren
                    (ook over minder interessante onderwerpen).
                    <br>
                    In China, Hong Kong, Taiwan, Macau, Singapore, Maleisië en op alle andere locaties waar Mandarijn wordt
                    gesproken spreekt men niet altijd met hetzelfde accent. Zelf heb ik in Taiwan Chinees gestudeerd. De
                    uitspraak is zeker anders in vergelijking met Beijing, maar het is goed verstaanbaar.
                </p>
            </div>
        </div>
    </div>

    <div id="how-to-learn-karakters-leren" class="container-fluid">
        <div class="row row-eq-height">
            <div class="col-md-8 col-sm-12">
                <h2>Hoeveel karakters moet ik leren?</h2><br>
                <p>
                    Een student die ongeveer <b>750~1500 karakters kent is al vrij redelijk in Chinees</b>. Zodra je er 2000+
                    beheerst ben je al heel goed.
                    Chinezen zelf kennen er 4500+ en <b>taalkundingen misschien wel 8000+</b>. Zoveel hoef je
                    er gelukkig niet te kennen. Het is belangrijk om een goede basis te hebben, en voordat je het weet kun
                    je al kleine gesprekjes voeren.
                    Echter, heel goed worden is moeilijk en kost veel tijd. <b>Het is heel knap als je
                    vloeiend bent in Chinees.</b>
                    <br><br>
                    In het begin zie je snel vooruitgang. Elk woordje dat je leert kun je gebruiken. Zodra gesprekjes
                    voeren makkelijker wordt, moet je vaker exclusieve karakters leren. Het wordt dus <b>moeilijker naarmate je meer leert</b>.
                </p>
            </div>
            <div class="col-md-4 hidden-sm hidden-xs text-center center-icon">
                <i class="fa fa-sort-amount-asc fa-5x" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    <div id="how-to-learn-woorden" class="container-fluid">
        <div class="row row-eq-height">

            <div class="col-md-4 hidden-sm hidden-xs text-center center-icon">
                <i class="fa fa-podcast fa-5x" aria-hidden="true"></i>
            </div>

            <div class="col-md-8 col-sm-12">
                <h2>Hoelang duurt het om Chinees goed te kunnen spreken?</h2><br>
                <p>
                    Studenten die bijvoorbeeld in Leiden Chinees studeren kunnen na 4 jaar nog niet vloeiend Chinees spreken.
                    Vaak gaan ze na de studie naar China om daar Chinees te oefenen. Er is een groot verschil tussen een jaar
                    in China leren, en een jaar in Nederland leren. Wat je in een jaar leert in Nederland, duurt 3 maanden
                    in China. Het is natuurlijk per student verschillend, maar <b>na een jaar of anderhalf jaar voltijd studeren
                    in een talenschool in China ben je vrij goed in Chinees</b>.
                    Drie jaar weekendschool in Nederland levert ook een redelijk niveau op.
                    <br><br>
                    Ik heb zelf <b>6 maanden in Taiwan gestudeerd</b> aan een talenschool. Die 6 maanden zijn ongelofelijk goed en
                    leuk geweest.
                </p>
            </div>
        </div>
    </div>

    <div id="how-to-learn-intro-use" class="container-fluid">
        <div class="row row-eq-height">
            <div class="col-md-8 col-sm-12">
                <h2>Waar is deze app goed voor?</h2><br>
                <p>
                    De app <b>onthoudt de woorden die je geleerd hebt</b>. Aan de hand van de <b>reeds geleerde</b> woordjes
                    kijkt de app naar Chinese artikelen. Deze artikelen worden beoordeeld en de onbekende woordjes worden
                    in een lijstje weergegeven om te leren. Deze kun je dan weer makkelijk in de flashcard app leren.
                    Je kunt precies zien hoeveel nieuwe woordjes een artikel bevat. Tevens worden de woordjes <b>geclassificeerd
                    aan de hand van de moeilijkheid</b>. De woordjes in de HSK 1 lijst zijn het makkelijkst.
                </p>
                <ul>
                    <li>Geleerde woordjes worden onthouden</li>
                    <li>Nieuwe woordjes uit onze artikelen kunnen meteen geleerd worden</li>
                    <li>Alle woordjes zijn geclassificeerd aan de hand van hun moeilijkheid (op basis van de HSK toetsen)</li>
                </ul>
            </div>
            <div class="col-md-4 hidden-sm hidden-xs text-center center-icon">
                <i class="fa fa-wpexplorer fa-5x" aria-hidden="true"></i>
            </div>
        </div>
    </div>


    <div id="how-to-learn-intro-apps" class="container-fluid">
        <div class="row row-eq-height">
            <div class="col-md-8 col-sm-12">
                <h2>Welke andere apps gebruik je?</h2><br>
                <p>
                    Hieronder een lijst met handige apps:
                </p>
                <ul>
                    <li><a title="Pleco dictionary app" href="https://www.pleco.com/" target="_blank">Pleco (woordenboek app)</a></li>
                    <li><a title="PeraPera Chinese App" href="http://www.perapera.org/" target="_blank">PeraPera Chinees (browser app)</a></li>

                    <li>
                        <a title="Minitranslate app" href="https://addons.mozilla.org/en-US/firefox/addon/mini-translate/" target="_blank">Mini translate (continue blootstelling aan Chinees)</a>
                    </li>
                </ul>


            </div>
            <div class="col-md-4 hidden-sm hidden-xs text-center center-icon">
                <i class="fa fa-download fa-5x" aria-hidden="true"></i>
            </div>
        </div>
    </div>



    <div id="how-to-learn-intro-ch-kr" class="container-fluid">
        <div class="row row-eq-height">
            <div class="col-md-4 hidden-sm hidden-xs text-center center-icon">
                <i class="fa fa-hand-peace-o fa-5x" aria-hidden="true"></i>
            </div>
            <div class="col-md-8 col-sm-12">
                <h2>Is Chinees moeilijker dan Japans of Koreaans?</h2><br>
                <p>
                    Dat is per persoon verschillend. Het zijn drie moeilijke talen, waarbij de moeilijkheidsfactor telkens
                    ergens anders ligt. <b>Koreaans</b> is makkelijk om te schrijven en lezen, maar de woordjes lijken nergens op en
                    de grammatica is het moeilijkst van de drie. Tevens is de uitspraak niet makkelijk. <b>Japans</b> is moeilijk om te schrijven en lezen en de grammatica is
                    net zoals het Koreaans erg lastig. De uitspraak is echter super makkelijk en nieuwe woordjes leren gaat
                    daarom veel sneller.<br/>
                    <b>Chinees</b> is het moeilijkst qua schrijven, lezen en uitspraak, maar wordt makkelijker op alle aspecten zodra je over
                    de uitspraak heuvel bent. De grammatica is super makkelijk en is al snel geleerd.
                    <br>
                    <br>
                    Zelf vind ik Chinees het leukst. Daarom is het misschien makkelijker om te leren?
                </p>
            </div>
        </div>
    </div>


{% endblock %}