{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <div id="intro-text" class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-success">
                    <strong>Melding:</strong> Welkom bij de &#946;eta versie. Op dit moment zijn nog niet alle
                    Nederlandse vertalingen doorgevoerd. Ik ben er hard mee bezig.
                </div>
            </div>
        </div>
        <div class="row row-eq-height">
            <div class="col-sm-12">
                <h2>Frappant Chinees</h2><br>
                <p>
                    Leer Chinees zonder tijd te verspillen door het gebruiken van de voorgemaakte studie sets,
                    of door het lezen van teksten met de leeshulpmiddelen.
                    Leer de karakters onthouden met behulp van ezelsbruggetjes en voorbeeldzinnen.
                    Alle radicalen worden uitgelegd voor een goede basis.
                </p>
            </div>
        </div>
    </div>

    <div id="our-products" class="container-fluid text-center bg-grey">
        <h3>Onze producten</h3>
        <div class="row text-center slideanim">
            <div class="col-sm-4">
                <div class="home-thumbnail">
                    <div class="full-width"> <!-- Required for mobile -->
                        <p><strong>Het boek</strong></p>
                    </div>
                    <div class="full-width"> <!-- Required for mobile -->
                        <i class="fa fa-book fa-5x" aria-hidden="true"></i>
                    </div>
                    <div class="full-width"> <!-- Required for mobile -->
                        <a href="/book">Leer met het boek</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="about" class="container container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h3>Wie ben ik?</h3><br>
                <p>
                    In 2015 ben ik begonnen met het leren van Chinees in Taiwan. Sindsdien ben ik al ver gekomen, maar
                    heb ook nog veel te leren. Het kost veel tijd en motivatie om bezig te blijven met leren. Ik hoop
                    dat
                    deze site zo is gemaakt dat Nederlandse studenten hier terecht kunnen om eenvoudig opbouwend Chinees te leren.
                    <br><br>
                    In 2017 ben ik gestart met het bouwen van deze site en ben nog steeds bezig met het aanvullen.
                    Dit kost tijd, maar ik zorg dat alles gratis is en blijft. Wil je me steunen? Koop dan het
                    boek.
                </p>
            </div>
            <div class="col-sm-4">

            </div>
        </div>
    </div>

    <div id="contact" class="container-fluid bg-grey">
        <div class="row">
            <div class="col-sm-8">
                <h4>Stuur mij gerust een mail met al uw <b>vragen, wensen of verbeteringen</b>.</h4>
                <br/>
                <p>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    Nederland, Akersloot
                </p>
                <p>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    info@frappantchinees.nl
                </p>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>

{% endblock %}